<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
    <script src="index.js" defer></script>
  </head>
  <body>
    <header><h1><%= title %></h1></header>

    <form action="/create" method="POST" class="userForm">
      <div>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" required />
      </div>
      <div>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" required />
      </div>
      <div>
        <label for="email">Email:</label> <input type="email" name="email" />
      </div>
      <div>
        <label for="age">Age:</label> <input type="number" name="age" />
      </div>
      <div>
        <label for="bio">Bio:</label>
        <textarea name="bio" class="bio"></textarea>
        <div class="charCountContainer">
          <p><span id="charCount">0</span>/200</p>
        </div>
      </div>
      <%- include('errors') %>
      <button class="submit" type="submit">Submit</button>
    </form>
    <div class="homeLink">
      <a href="/"><button>Back to home</button></a>
    </div>
  </body>
</html>
